.advantages{
  text-align: center;
  padding: $base-spacing-unit * 5 0;

  &__title{
    color: $red;
    font-size: 34px;
    font-weight: 600;
    letter-spacing: 0.53px;
    line-height: 38px;
    text-transform: uppercase;
    margin-bottom: 69px;
  }

  &__sub-title{
    color: $red;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.4px;
    line-height: 25px;
    text-transform: uppercase;
  }

  &__description{
    font-size: 16px;
    font-weight: 300;
    letter-spacing: -.2px;
    line-height: 25px;
    max-width: 230px;
    margin: 0 auto;
    text-align: justify;
    margin-bottom: 50px;
    @media #{$extra-large} {
      margin-bottom: 0;
    }
  }

  &__img{
    margin-bottom: 39px;
  }

  &__button{
    color: $white;
    background-color: $red;
    font-size: 18px;
    font-weight: 600;
    line-height: 29px;
    text-transform: uppercase;
    padding: 10px 60px;
    margin-top: 20px;
    @media #{$extra-large} {
      margin-top: 111px;
    }
  }
}
